@media (max-width: 430px){
  .headerContainer{
    font-size: x-small;
  }
  .HomePage-Container{
    width: 100%;
    font-size: x-small;
    nav{
      flex-wrap: wrap;
      gap: 30px;
      .SearchBar{
        width: 100%;
      }
    }
    .Countries-Cards-Section{
      grid-template-columns: 1fr;
      font-size: small;
      padding: 0px 40px;
    }
  }
}