@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import './Mixins.scss';
@import './Colors.scss';
@import './components/Header';
@import './components/Cards';
@import './Responsivness';

*{
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.HomePage-Container{
  nav{
    background-color: transparent;
    width: 100%;
    padding: 5.5vh 4%;
    padding-right: 5%;
    @include flex(center,space-between);
    select{
      padding:10px 45px;
      border: none;
      border-radius: 5px;
      @include flex(center,space-between);
    }
    .SearchBar{
      padding: 15px 30px;
      width: 480px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 20px;
      input{
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
  .Dark-Mode-On{
    transition: all 0.5s ease;
    background-color: $DarkBlue;
    color: $White;
    }
  }
  .Dark-Mode-Off {
    background-color: $White;
    color: $VeryDarkBlue;
    transition: all 0.5s ease;
}
.Main-Content{
  width: 100%;
  height: auto;
  padding-bottom: 70px;
}
.Main-DarkMode{
  background-color: $VeryDarkBlue1;
  color: $White;
  transition: all 0.5s ease;
  .SearchBar{
    input[type="text"]{
      color:$White;
      &::placeholder{
        color: $White;
      }
    }
  }
}
.Main-DarkMode-Off{
  background-color: $VeryLightGray;
  .SearchBar{
    .Search-Icon{
      color:$DarkGray;
    }
  }
  transition: all 0.5s ease;
}

