.HomePage-Container.Dark-Mode-On {
  background-color: #333;
  color: white;
}

.headerContainer.Dark-Mode-On {
  background-color: #333;
  color: white;
}



.HomePage-Container.Dark-Mode-Off {
  background-color: white;
  color: black;
}

.headerContainer.Dark-Mode-Off {
  background-color: white;
  color: black;
}