.Countries-Cards-Section{
  width: 100%;
  padding: 0px 5.5%;
  @include grid(1fr 1fr 1fr 1fr,70px,70px);
  .card-Container{
    max-width:350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .logo{
      width: 100%;
      height: 40%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .Country-Info{
      padding: 8%;
      flex: 1;
      h3{
        padding-bottom: 15px;
      }
      ul{
        list-style-type: none;
        li{
          padding-bottom: 5px;
          span{
            color:$VeryLightGray;
            font-weight: thin;
          }
        }
      }
    }
  }
  .Dark-Mode-Cards{
    background-color:$DarkBlue;
    .Country-Info{
      ul{
        li{
          span{
            color:$White;
            transition: all 0.4s ease;
          }
        }
      }
    }
    transition: all 0.5s ease;
  }
  .Light-Mode-Cards{
    .Country-Info{
      ul{
        li{
          span{
            color: $VeryDarkBlue;
            transition: all 0.4s ease;
          }
        }
      }
    }
  }
}